<ul>
  <li>{{link-to '#alxhyd' 'index'}}</li>
  <li>{{link-to 'resume' 'resume'}}</li>
  <li>{{link-to 'portfolio' 'portfolio'}}</li>
  <li>{{link-to 'code-samples' 'code-samples'}}</li>
  <li>{{link-to 'projects' 'projects'}}</li>
  <li>{{link-to 'contact' 'contact'}}</li>
  <li><a href="http://www.linkedin.com/in/alexheyd">LinkedIn</a></li>
</ul>
